
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';



.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.router-link-exact-active{
	background-color:#9A1750;
	color: #fff !important;
}
.btn-add{
	background-color: #0000FF;
	color: white;
}
.bg-teal {
	background-color: #2ECC40;
}
.text-white {
	color: #FFFFFF;
}
